@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  width: 100vw;
  height: 100vh;
}

#bannerContainer {
  background-color: black;
  color: lime;
  border: 1px solid red;
  font-size: 12px;
}

.bodyElement {
  display: grid;
  width: 100vw;
  height: 100vh;
  gap: 3vh;
  grid-template-rows: 140px 60px 60px min-content;
  grid-template-columns: 1fr;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
}

.mainHeader {
  grid-row: 1/2;
  justify-self: center;
  font-family: monospace;
  text-align: center;
  font-family: monospace;
  white-space: pre;
}

.newGameArea {
  grid-row: 2/3;
  display: grid;
  justify-content: center;
}

.scoresArea {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10vw;
}

.currentScore {
  justify-self: end;
}

.highScore {
  justify-self: start;
}

.cardArea {
  display: flex;
  grid-row: 4/5;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0vh 10vw 0vh 10vw;
  border: 2px solid black;
  padding: 5vw;
  border-radius: 40px;
}

.card {

  height: 160px;
  width: 160px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Rückseite wird versteckt */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 8px;
}

.pokemonImage {
  transform: scale(1);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transform: scale(1.15);
}

.card-front {
  background: lightblue;
}

.card-back {
  background: lightcoral;
  transform: rotateY(180deg);
}

@media (max-width: 1200px) {
  .card {
    border-radius: 10px;
    height: 160px;
    width: 160px;
  }

  .cardArea {
    gap: 1rem;
    padding: 4vw;
    border-radius: 40px;
  }
}

@media (max-width: 750px) {
  .mainHeader {
    font-size: 10px;
  }

  .card {
    border-radius: 10px;
    height: 130px;
    width: 130px;
    font-size: 10px;
  }

  .pokemonImage {
    transform: scale(1);
  }

  .scoresArea {
    font-size: 10px;
  }

  .cardArea {
    margin: 0;
    width: 90vw;
    display: flex;
    justify-self: center;
  }
}

@media (max-width: 500px) {
  .mainHeader {
    font-size: 10px;
  }

  .card {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    font-size: 10px;
  }

  .pokemonImage {
    transform: scale(1);
  }

  .scoresArea {
    font-size: 10px;
  }

  .cardArea {
    margin: 0;
    width: 90vw;
    display: flex;
    justify-self: center;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
